.root{
  background-color: hsl(140, 34%, 33%);
  // background-color: linear-gradient(to bottom, #66ff66 0%, #003300 100%);
  padding: 30px;
  text-align: center;
 a{

  color: rgb(255, 255, 255);
  font-family: Luckiest Guy;
  text-decoration: none;
  font-size: 27px;
 }
}