a{
  text-decoration: none;
  cursor: default;
}
.wrapper{
  display: flex;
  flex-direction: column;
  background-color:  hsl(140, 34%, 33%);
  width: 270px;
  height: 360px;
  border-radius: 25px;
  transition: .3s ease-in-out;
  img{
    width: 150px;
    padding-left: 50px;

  }
  &:hover{
    transition: .3s ease-in-out;
    -webkit-box-shadow: -12px 18px 30px -2px rgba(51, 175, 181, 0.6); 
-moz-box-shadow: -12px 18px 30px -2px rgba(47, 142, 123, 0.6); 
box-shadow: -12px 18px 30px -2px rgba(64, 173, 144, 0.6);

  }
  span{
    font-size: 20px;
     padding: 20px;
     color: white;
     padding-left: 50px;
     
  }
  h1{
    padding: 30px;
    padding-left: 50px;
  color: #ffffff;
  font-family: Potta One;
  text-shadow: 1px 1px 2px rgb(235, 235, 235), 0 0 1em rgb(53, 159, 118), 0 0 0.2em #15F4EE;
}
  }
  .Pok{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
